.gameStatus {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px 30px 10px;
  flex: 0 0 100%;
  justify-content: space-around;
  font-family: Rubik Mono One, sans-serif;
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px #000000;
}

.gameStat {
  border: solid;
}
