a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.navbar {
  display: flex;
}

.dropdown {
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn {
  border: double;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 6px;
}

.dropdown1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

#palabras-dropdown1 {

}

#palabras-content1 {
  visibility: hidden;
}

#palabras-dropdown1:hover #palabras-content1 {
  visibility: visible;
}

#palabras-dropdown2 {

}

#palabras-content2 {
  visibility: hidden;
}

#palabras-dropdown2:hover #palabras-content2 {
  visibility: visible;
}

@media (max-width: 800px) {
  .navbar {
    display: flex;
    margin-right: 0.3em;
    /* resize image */
    /* background-image: url('./../images/nicaraugua/img_9251_dog_on_the_steps.jpg'); */
  }

  .content {
    display: flex;
  }

}

@media (max-width: 570px) {
  .content {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
  }

}

@media (max-width: 530px) {
  .dropdown {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .auth {

  }
}

/* .btn media query isn't working as expected */
@media (max-width: 465px) {
  .dropdown1 {
    display: flex;
    direction: column;
  }
  .btn {
    margin: 0px;
  }
}
